[submodule "trip_counter"]
	path = trip_counter
	url = git@github.com:pyxis-roc/trip_counter.git
	branch = main
[submodule "symb_form_tests"]
	path = symb_form_tests
	url = git@github.com:pyxis-roc/symb_form_tests.git
	branch = main
[submodule "vendor/tvm"]
	path = vendor/tvm
	url = git@github.com:apache/tvm.git
	branch = v0.21.0
[submodule "vendor/z3"]
	path = vendor/z3
	url = git@github.com:Z3Prover/z3.git
[submodule "instrGen"]
	path = instrGen
	url = git@github.com:pyxis-roc/instrGen.git
[submodule "getBBCount"]
	path = getBBCount
	url = git@github.com:SoftJing1/getBBCount.git

